CoTeDiv/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CotedivServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICotedivServices_getPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:getPosts" />
  </wsdl:message>
  <wsdl:message name="ICotedivServices_getPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPostsResponse" />
  </wsdl:message>
  <wsdl:message name="ICotedivServices_getRanking_InputMessage">
    <wsdl:part name="parameters" element="tns:getRanking" />
  </wsdl:message>
  <wsdl:message name="ICotedivServices_getRanking_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRankingResponse" />
  </wsdl:message>
  <wsdl:portType name="ICotedivServices">
    <wsdl:operation name="getPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotedivServices/getPosts" message="tns:ICotedivServices_getPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotedivServices/getPostsResponse" message="tns:ICotedivServices_getPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRanking">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotedivServices/getRanking" message="tns:ICotedivServices_getRanking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotedivServices/getRankingResponse" message="tns:ICotedivServices_getRanking_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICotedivServices" type="tns:ICotedivServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPosts">
      <soap:operation soapAction="http://tempuri.org/ICotedivServices/getPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRanking">
      <soap:operation soapAction="http://tempuri.org/ICotedivServices/getRanking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CotedivServices">
    <wsdl:port name="BasicHttpBinding_ICotedivServices" binding="tns:BasicHttpBinding_ICotedivServices">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFCotedivLib/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>